<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, hrink-to-fit=no">
        <title>Автоматизированная система мониторинга учебников и учебных пособий общеобразовательных организации Вологодской области</title>
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href={% static "" %} />
    </head>
    <body>
        <section class="hero is-large hero-image">
            <div class="hero-head">
                <nav class="nav ">
                    <div class="navbar-brand">
                        <div class="container-fluid">
                            <a class="navbar-item">

                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-1 custom-body-font"></h1>
                    <h2 class="title is-2 custom-body-font">Список книг</h2>
                    <p style="margin: 15px; ">
                      <a class="button is-success is-outlined button is-large title is-5" href="/login">Вход</a>
                    </p>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="has-text-centered">
                  <p>
                    ВИРО
                  </p>
                </div>
            </div>
        </footer>
        <div id="login-form" class="modal" v-if="show_login_form" v-bind:class="{ 'is-active': show_login_form }" @keydown.esc="show_login_form = false">
          <div class="modal-background" v-on:click="show_login_form = false"></div>
          <div class="modal-content">
            <div class="box">
              <form class="login" method="POST" action="/login">
                {% csrf_token %}
                <div class="field">
                  <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="Имя пользователя" autofocus="" maxlength="254" required="" id="id_username">
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <input class="input is-large" type="password" placeholder="●●●●●●●" name="password" required="" id="id_password">
                  </div>
                </div>
                <div class="field">
                  <label class="checkbox"><input type="checkbox">Запомнить меня</label>
                </div>
                <button type="submit" class="button is-block is-info is-large is-fullwidth">Войти</button>
              </form>
            </div>
            <p class="has-text-grey has-text-centered">
              <a href="/auth/forgot">Забыли пароль?</a>
            </p>
          </div>
          <button class="modal-close is-large" v-on:click="show_login_form = false" aria-label="close"></button>
        </div>
  <!-- JavaScript -->
  <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>
